.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.product-subtitle-gray{
  color: #abacad ;
  margin: 5px 0;
  font-size: 18px;
  line-height: 1.2em;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-top-20{
  margin-top: 20px;
}
.k-tab-bar{
  height: 40px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.k-tabs-tab{
  margin: 0;
    border: none;
    padding: 0 15px;
    float: left;
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 0;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #333;
}
.k-tabs-tab:hover{
  text-decoration: none;
  color: #55efc4;
}
.product-detail-part{
  font-size: 15px;
  color: #2b2b2b;
}
.border-gray{
  border-bottom:1px solid #eee;
  height: 30px;
  margin-bottom: 5px;
}
.offset0{
  padding-left: 0 !important;
  padding-right: 0 !important;;
}
.text-bold{
  font-size: 18px;
  font-weight: 700;
}
.padding-10{
  padding:10px !important;
}
